html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  /* min-width: 1280px; */
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-card {
  box-shadow: 0, 1px, 1px, rgba(0, 0, 0.15) !important;
  margin-top: 15px;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination {
  margin-top: 15px;
}

.el-steps {
  margin: 15px 0;
}

.el-step__title {
  font-size: 13px;
}

.ql-editor {
  min-height: 300px;
}

.btnrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}

.btnrow1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btnrow1 > span {
  word-break: keep-all;
  padding-right: 20px;
}

.btnrow2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btnrow2 > span {
  word-break: keep-all;
  padding-right: 20px;
}

/* 取消抽屉外框 */
.el-drawer__header span {
  font-size: 20px;
  font-weight: 800;
}
.el-drawer__header span:focus {
  outline: none !important;
}
.el-drawer:focus {
  outline: none !important;
}
.el-tooltip:focus {
  outline: none !important;
}

/* 进度条 描述保持原来样式 */
.el-step__description {
  white-space: pre-wrap !important;
}
::-webkit-scrollbar {
  width: 10px;

  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #eee;

  border-radius: 10px;
}
/* 托拉条 */
/* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
} */
/* 托拉条 */

@keyframes aniRed {
  0% {
    stroke: red;
    stroke-width: 2;
    fill: red;
    opacity: 0.1;
    r: 10;
    stroke-opacity: 0.1;
  }
  25% {
    stroke: red;
    stroke-width: 5;
    fill: red;
    opacity: 0.3;
    r: 15;
    stroke-opacity: 0.3;
  }
  50% {
    stroke: red;
    stroke-width: 8;
    r: 20;
    stroke-opacity: 0.5;
  }
  75% {
    stroke: red;
    stroke-width: 5;
    fill: red;
    opacity: 0.3;
    r: 15;
    stroke-opacity: 0.3;
  }
  100% {
    stroke: red;
    stroke-width: 2;
    r: 10;
    fill: red;
    opacity: 0.1;
    stroke-opacity: 0.1;
  }
}

@keyframes aniGreen {
  0% {
    stroke: green;
    stroke-width: 2;
    fill: green;
    opacity: 0.1;
    r: 10;
    stroke-opacity: 0.1;
  }
  25% {
    stroke: green;
    stroke-width: 5;
    fill: green;
    opacity: 0.3;
    r: 15;
    stroke-opacity: 0.3;
  }
  50% {
    stroke: green;
    stroke-width: 8;
    r: 20;
    stroke-opacity: 0.5;
  }
  75% {
    stroke: green;
    stroke-width: 5;
    fill: green;
    opacity: 0.3;
    r: 15;
    stroke-opacity: 0.3;
  }
  100% {
    stroke: green;
    stroke-width: 2;
    r: 10;
    fill: green;
    opacity: 0.1;
    stroke-opacity: 0.1;
  }
}


@keyframes aniYellow {
  0% {
    stroke: yellow;
    stroke-width: 2;
    fill: yellow;
    opacity: 0.1;
    r: 10;
    stroke-opacity: 0.1;
  }
  25% {
    stroke: yellow;
    stroke-width: 5;
    fill: yellow;
    opacity: 0.3;
    r: 15;
    stroke-opacity: 0.3;
  }
  50% {
    stroke: yellow;
    stroke-width: 8;
    r: 20;
    stroke-opacity: 0.5;
  }
  75% {
    stroke: yellow;
    stroke-width: 5;
    fill: yellow;
    opacity: 0.3;
    r: 15;
    stroke-opacity: 0.3;
  }
  100% {
    stroke: yellow;
    stroke-width: 2;
    r: 10;
    fill: yellow;
    opacity: 0.1;
    stroke-opacity: 0.1;
  }
}

/* 绿电 */
/* .batteryGreen .el-progress-circle__path {
    stroke: rgb(19, 206, 102) !important;
} */

/* 红电 */
/* .batteryRed .el-progress-circle__path {
  stroke: rgb(255, 73, 73) !important;
} */


/* 菜单项鼠标滑过菜单的字体颜色 */
/* .el-menu-item:hover i,
.el-menu-item:hover span {
  color: #fff !important;
} */

/* 子菜单鼠标飘过颜色 */
/* .el-submenu__title:hover i,
.el-submenu__title:hover span,
.el-submenu__title:hover .el-submenu__icon-arrow {
  color: #fff !important;
} */

/* 已选择菜单项的父菜单高亮 */
/* .is-opened .el-submenu__title span,
.is-opened .el-submenu__title i,
.is-active .el-submenu__title span,
.is-active .el-submenu__title i {
  color: #fff !important;
  background-color: red !important;
} */

/* 已选择菜单项的父菜单高亮 */
/* .is-opened > .el-submenu__title i,
.is-opened > .el-submenu__title span,
.is-opened > .el-submenu__title .el-submenu__icon-arrow,
.is-active > .el-submenu__title i,
.is-active > .el-submenu__title span,
.is-active > .el-submenu__title .el-submenu__icon-arrow {
  color: #fff !important;
} */
